@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	padding: 3px;
	color: #aa95bf;
}

form {
	margin-bottom: 15px;
}

.navbar {
	background-color: #FFFFFF;
  	overflow: hidden;
}

.newsletter {
	font-family: 'Abril Fatface', cursive;
}

.paragraph {
	text-align: center;
	font-size: 13px;
	font-family: 'Hind Madurai', sans-serif;
}

.title2 {
	text-align: center;
	margin-top: 10px;
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;
	color: #aa95bf;
}

.contactform {
	
	text-align: center;
	font-size: 16px;
	font-family: 'Hind Madurai', sans-serif;
}

.contact {
	border: double;
	border-color: #aa95bf;
}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}

footer {
	font-family: 'Hind Madurai', sans-serif;
}

h3 {
	font-family: 'Abril Fatface', cursive;
	font-size: 28px;
	text-align: center;
}

.card-header {
	text-align: center;
	font-family: 'Hind Madurai', sans-serif;
	text-size: 22px;
}

.list-group-item {
	font-family: 'Hind Madurai', sans-serif;
}

.label-danger {
	background-color: red;
}

.tour {
	margin-bottom: 30px;
}

.row {
	margin-top: 20px;
}

.bandmembers {
	margin-bottom: 20px;
}

.carousel {
	margin-bottom: 30px;
}

.map {
	margin-bottom: 25px;
}